extends layout

block content
  h1= title
  input(
    placeholder = "Name"
    type = 'inputfield'
    id = 'input-name'
  )
  input(
    placeholder = "Task"
    type = "inputfield"
    id = "input-task"
  )
  button(
    id = "submit-data"
    type = "submit"
    onClick = 'submitData()'
  ) Submit
