extends layout

block recipe
  h1= title
  h2 Recipe for #{name}
  ul Ingredients:
    for i in ingredients
      li= i
  ul Instructions:
    for i in instructions 
      li= i

//- block input-recipe 
//-   h2 Input new recipe:
//-   input(type='text', id='name-text')
//-   h4 Ingredients
//-   textarea(id='ingredients-text')
//-   button(id="add-ingredient", type="button") Add ingredient
//-   h4 Instructions
//-   textarea(id="instructions-text")
//-   button(id="add-instruction", type="button") Add instruction
//-   button(id="submit", type="submit") Submit
